// Color system

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
  ),
  $grays
);

$blue: #30569dd1 !default;
$indigo: #504080dd !default;
$purple: #704080dd !default;
$pink: #d86481dd !default;
$red: #a02241dd !default;
$orange: #b3380fdd !default;
$yellow: #c29100dd !default;
$green: #478040dd !default;
$teal: #307991dd !default;
$cyan: #4fadb0dd !default;

$colors: () !default;
$colors: map-merge(
  (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": #656565,
    "gray-dark": $gray-800,
  ),
  $colors
);

$primary: #408070 !default;
$primary-1: #a0c0b8 !default;
$primary-2: #c6d9d4 !default;
$primary-3: #ecf2f1 !default;

$secondary: #7b4d80 !default;
$secondary-1: #bda6c0 !default;
$secondary-2: #d7cad9 !default;
$secondary-3: #f2edf2 !default;

$success: #478040b3 !default;
$info: #4fadb0b3 !default;
$warning: #c29100b3 !default;
$danger: #a02241b3 !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$base: #274c43 !default;
$base-1: #68817c !default;
$base-2: #a8b7b4 !default;
$base-3: #e9edec !default;

$flacso: #192e4d !default;
$flacso-1: #8c97a6 !default;
$flacso-2: #bac0ca !default;
$flacso-3: #e8eaed !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
  ),
  $theme-colors
);

$activity-icon-administration-bg: $teal !default;
$activity-icon-assessment-bg: $green !default;
$activity-icon-collaboration-bg: $orange !default;
$activity-icon-communication-bg: $yellow !default;
$activity-icon-content-bg: $blue !default;
$activity-icon-interface-bg: $indigo !default;

$activity-icon-colors: () !default;
$activity-icon-colors: map-merge(
  (
    "administration": $activity-icon-administration-bg,
    "assessment": $activity-icon-assessment-bg,
    "collaboration": $activity-icon-collaboration-bg,
    "communication": $activity-icon-communication-bg,
    "content": $activity-icon-content-bg,
    "interface": $activity-icon-interface-bg,
  ),
  $activity-icon-colors
);

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $gray-900 !default;
$yiq-text-light: $white !default;

$yiq-contrasted-threshold: 190 !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: "Roboto Condensed", sans-serif !default;
$font-family-serif: "Roboto Serif", serif !default;
$font-family-monospace: "Roboto Mono", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$headings-font-family: "Roboto Flex", sans-serif !default;
$headings-color: $base-1 !default;

$text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05) !default;

// Fonts
$rfs-base-font-size: 0.9em !default;
$headings-font-weight: 600 !default;

// Tables

$table-border-color: rgba(0, 0, 0, 0.1) !default;

// Buttons

$input-btn-padding-y: 0.5rem !default;
$input-btn-padding-x: 1.1rem !default;
$btn-font-family: $headings-font-family !default;
$btn-font-size: 1em !default;
$btn-font-size-sm: 0.8rem !default;

$btn-border-radius: 3px !default;
$btn-border-radius-lg: 3px !default;
$btn-border-radius-sm: 3px !default;

// Navbar
$navbar-dark-color: rgba($white, 0.6) !default;
